---
layout: default
tagline: [数据挖掘 Hadoop 计算机程序]
---
{% include JB/setup %}
<style>
h5
{
text-shadow: 5px 5px 5px #FF0000;
}
</style>
<div class="page-header">
  <h1><h5>日 志</h5></p> <small>{{ page.tagline }}</small></h1>
</div>

<div class="row">
  <div class="span14">
    <ul class="posts">
      {% for post in site.posts %}
      <li><span>{{ post.date | date: "%Y-%m-%d" }}</span> &raquo; <a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></li>
      {% endfor %}
    </ul>
  </div>
</div>

